@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "tailwindcss";

html {
  font-size: 16px;
  font-family: var(--font-inter);
  background-color: var(--color-shade);
  color: var(--color-grey-900);
  transition: font-size 0.3s ease, scroll-padding-top 0.3s ease,
    background-color 0.3s ease, color 0.3s ease;
}
/* _______________ */

.clip {
  background-color: burlywood;
  width: 700px;
  height: 800px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.clip::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100px;
  background: white;
  border-bottom-right-radius: 40px;
}

/* Hide scrollbar for WebKit */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* Responsive Typography */
@media (min-width: 640px) {
  html {
  }
}
@media (min-width: 768px) {
  html {
  }
}
@media (min-width: 1024px) {
  html {
    /* scroll-padding-top: 88px;
    font-size: 19px; */
  }
}
@media (min-width: 1280px) {
  html {
    /* scroll-padding-top: 96px;
    font-size: 20px; */
  }
}

@theme {
  /* font */
  --font-Roboto: "Roboto", sans-serif;
  --font-Tinos: "Tinos", serif;
  --font-Dm-serif: "DM Serif Text", serif;
  --font-inter: "Inter", sans-serif;
  --font-Dm-sans: "DM Sans", sans-serif;

  /* Nevy-Green */
  --color-primary-50: #d6dbd6;
  --color-primary-100: #bbc2bb;
  --color-primary-200: #98a499;
  --color-primary-300: #768678;
  --color-primary-400: #546756;
  --color-primary-500: #2a3d2b;
  --color-primary-600: #2a3d2b;
  --color-primary-700: #213123;
  --color-primary-800: #19241a;
  --color-primary-900: #111811;
  --color-primary-950: #0a0f0a;

  /* Crayola's */
  --color-crayola-100: #feefd1;
  --color-crayola-200: #fde4b3;
  --color-crayola-300: #fcd68d;
  --color-crayola-400: #fcc867;
  --color-crayola-500: #fbbb41;
  --color-crayola-600: #faad1b;

  /* Dark */
  --color-dark: #0f0e0e;

  /* white */
  --color-white: #f3f3e0;

  /* shade */
  --color-shade: #fcfcfd;

  /* Grey */
  --color-grey-50: #f9fafb;
  --color-grey-100: #f0f2f5;
  --color-grey-200: #e4e7ec;
  --color-grey-300: #d0d5dd;
  --color-grey-400: #98a2b3;
  --color-grey-500: #667185;
  --color-grey-600: #475467;
  --color-grey-700: #344054;
  --color-grey-800: #1d2939;
  --color-grey-900: #101828;

  /* blue */
  --color-blue-50: #eaf2fd;
  --color-blue-100: #d5e4fb;
  --color-blue-200: #b0cdf7;
  --color-blue-300: #8bb6f3;
  --color-blue-400: #66a0ef;
  --color-blue-500: #1f6fe2; /* base */
  --color-blue-600: #1b63cb;
  --color-blue-700: #1757b4;
  --color-blue-800: #134b9d;
  --color-blue-900: #0f3f86;

  --color-gradient-1: linear-gradient(135deg, #e59f1a, #98a499, #768678);

  /* New gradient: Green to Orange sunset */
  --color-gradient-sunset: linear-gradient(
    135deg,
    #5d866c 0%,
    #faad1b 40%,
    #ff6600 80%
  );

  /* gradient*/
  --color-gradient-softlight: linear-gradient(
    135deg,
    #feefd1 0%,
    #f0f2f5 50%,
    #d0d5dd 100%
  );
}
